*.hdf5 filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
raw_data/** filter=lfs diff=lfs merge=lfs -text
raw_data/ZueriCrop/ZueriCrop.hdf5 filter=lfs diff=lfs merge=lfs -text
