[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
torchgeo = {extras = ["datasets", "style", "tests"], version = "*"}
sentinelhub = {extras = ["common"], version = "*"}
pandas = "*"
seaborn = "*"
matplotlib = "*"
numpy = "*"
wandb = "*"
tqdm = "*"
scikit-learn = "*"
geopandas = "*"
h5py = "*"
tables = "*"
rasterio = "*"

[dev-packages]

[requires]
python_version = ">=3.9"
